[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openpyxl = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"

web gunicon list01_final.wsgi:application --log-file - 
